<div class="main_box1">
<% @reservations.joins(:schedule_entity).where(:schedule_entity => {:deleted => false, :editable => false}).includes(:schedule_entity).each do |r| %>

  <div class="main_box_in">
    <div class="intro">
      <div class="pic2">
         <%= image_tag r.sender.image.url(:thumb)%>
      </div>
      <div class="ctxt2">
        <h2><%=r.sender.profile.name %>(<%=r.sender.profile.furigana %>)</h2>
        <div class="intro_txt"><h3>相談日時: <%= l r.schedule_entity.schedule_date, format: :long %> <%= l r.schedule_entity.start_time, format: :hour_minute %></h3>
        相談カテゴリ：<%= r.specialized_field.name %>に関する相談<br>
        相談内容：<%= nl2br r.remarks %><br>
        <%= link_to "chat", specialists_live_chat_path(r.token)%>
        </div>
      </div>
    </div>
  </div>

<% end %>
</div>