
<h1>Listing Specialists</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Gender</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @specialists.each do |specialist| %>
      <tr>
        <td><%= specialist.try(:name) %></td>
        <td><%= specialist.try(:email) %></td>
        <td><%= specialist.try(:gender) %></td>
        <td><%= link_to 'Show', [:admins, specialist], :class => 'btn btn-show' %></td>
        <td><%= link_to 'Edit', edit_admins_specialist_path(specialist), :class => 'btn btn-edit' %></td>
        <td><%#= link_to 'Destroy', [:admins, specialist], method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-delete' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_admins_specialist_path %>
