<!DOCTYPE html>
<html>
<head>
  <title>Memamoru</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'specialists/application', 'data-turbolinks-track' => true %> 
  
  <%= csrf_meta_tags %>
</head>
<% unless specialist_signed_in? %>
    <ul class="nav navbar-nav">
      <li><%= link_to "SignUp", new_specialist_registration_path %></li>
      <li><%= link_to "LogIn", new_specialist_session_path %></li>          
    </ul>
  <% end %>
<% if controller.controller_name == 'live_chat' %>
  <body data-turbolinks="false">
<% else %>
  <body>
<% end %>

<%= render "/shared/specialist_header" %>
<div id="main">
  <% if controller.controller_name != 'welcome' %>
    <a href="#wss" class="right">設定</a>
    <% if controller.controller_name == 'posts' %>
      <a href="#head" class="left">投稿</a>
    <% end %>
  <% end %>
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <%= value %>
    </div>
  <% end %>
  <%= yield %>
</div>
</body>


</html>
