<%= simple_nested_form_for([:admins, @study_course]) do |f| %>
  <%= f.error_notification %>
  <%= f.simple_fields_for :attachment do |a| %>
    <%= f.label :image %>
    <%= image_tag((a.object.image.exists? ? a.object.image.url(:icon) : ''))%>
    <%= a.file_field :image %>
  <% end %>
  
  <table class="profile user">
    <tr>
      <th><%= f.label :name %></th>
      <td><%= f.input :name, label: false %></td>
    </tr>
  
    <tr>
      <th><%= f.label :summary %></th>
      <td><%= f.input :summary, label: false %></td>
    </tr>
  
    <tr>
      <th><%= f.label :recommend_for %></th>
      <td><%= f.input :recommend_for, label: false, placeholder: 'こんな方におすすめ！！・認知症が不安な方・親の介護に不安を感じている方' %></td>
    </tr>
  
    <tr>
      <th><%= f.label :is_free %></th>
      <td><%= f.input :is_free %></td>
    </tr>
  
    <tr>
      <th><%= f.label :price %></th>
      <td><%= f.input :price, label: false %></td>
    </tr>
  
    <tr>
      <th><%= f.label :parent %></th>
      <td><%= f.select :parent_id, Specialist.all.collect {|c| [ c.name, c.id ] } %></td>
    </tr>
  
    <tr>
      <th><%= f.label :specialized_field %></th>
      <td><%= f.association :specialized_field, label: false %></td>
    </tr>
  </table> 
  <%= f.hidden_field :parent_type, value: 'Specialist'%>
  <div class="top_second">
    <%= f.submit %>
  </div>
<% end %>
