<!-- Header　ここから -->
<header>
  <div id="logo"><img src="/assets/common/flogo.png"></div>
  <nav>
    <ul id="box">
     <li><%= link_to '<img src="/assets/common/menu0.png" class="over" />'.html_safe, root_path %></li>
     <li><%= link_to '<img src="/assets/common/menu1.png" class="over" />'.html_safe, posts_path %></li>
     <li><%= link_to '<img src="/assets/common/menu2.png" class="over"'.html_safe, {controller: :live_chat, action: :index} %></li>
     <li><%= link_to '<img src="/assets/common/menu20.png" class="over" />'.html_safe, reservations_consults_path %></li>
     <li><%= link_to '<img src="/assets/common/menu26.png" class="over" />'.html_safe, consults_path %></li>
     <li><%= link_to '<img src="/assets/common/menu21.png" class="over" />'.html_safe, "/study" %></li>
     <li><a href="https://www.baton.link" target="_blank"><img src="/assets/common/menu25.png" class="over"></a></li>
     <li><%= link_to '<img src="/assets/common/menu24.png" class="over" />'.html_safe, "#" %></li>
     <li><%= link_to '<img src="/assets/common/menu3.png" class="over">'.html_safe, profiles_path %></li>
     <li><a href="help.html"><img src="/assets/common/menu4.png" class="over"></a></li>
     <li><%= link_to '<img src="/assets/common/menu5.png" class="over">'.html_safe, destroy_user_session_path, method: :delete %></li>
     <li id="mclose"><a><img src="/assets/common/menu6.png" class="over"></a></li>
    </ul>
  </nav>
  <div class="clear-both">&nbsp;</div>
</header>
<!-- Header　ここまで -->