<!-- Header　ここから -->
<header>
  <div id="logo"><img src="/assets/common/flogo.png"></div>
  <nav>
    <ul id="box">
     <li><%= link_to '<img src="/assets/common/menu0.png" class="over" />'.html_safe, specialists_root_path %></li>
     <li><%= link_to '<img src="/assets/common/menu1.png" class="over" />'.html_safe, specialists_posts_path %></li>
     <li><%= link_to '<img src="/assets/common/menu2.png" class="over"'.html_safe, reservations_specialists_schedules_path %></li>
     <li><%= link_to '<img src="/assets/common/menu20.png" class="over" />'.html_safe, specialists_schedules_path %></li>
     <li><%= link_to '<img src="/assets/common/menu3.png" class="over">'.html_safe, specialists_profiles_path %></li>
     <li><a href="help.html"><img src="/assets/common/menu4.png" class="over"></a></li>
     <li><%= link_to '<img src="/assets/common/menu5.png" class="over">'.html_safe, destroy_specialist_session_path, method: :delete %></li>
     <li id="mclose"><a><img src="/assets/common/menu6.png" class="over"></a></li>
    </ul>
  </nav>
  <div class="clear-both">&nbsp;</div>
</header>
<!-- Header　ここまで -->