<h1><%= _('Edit User Information')%></h1>

<%= simple_nested_form_for  ([:admins, @user]) do |f| %>
  <%= render '/shared/users/form', :f => f %>
<% end %>

<%= link_to _('Show'), [:admins, @user] %> |
<%= link_to _('Back'), admins_users_path %>
