<%= link_to _('Back'), admins_users_path, {class: 'second'} %>
<div class="main_box2">
  <div class="main_box_in">
   <h1><%= _('Profile Information') %></h1>
   <h2><%= _('Basic Profile') %> <span><%= link_to _('Change Basic Information'), edit_admins_user_path(@user) %> </span></h2>
   <%= render '/shared/users/profile' %>

   <h2><%= _('Inheritor Information') %><span><%= link_to _('Edit Inheritor Profile'), inheritor_admins_user_path(@user) %></span></h2>
   <%= render '/shared/users/inheritor' %>

   <h2><%= _('Supervisor Informations') %><span><%= link_to _('Edit Supervisor'), supervisor_admins_user_path(@user) %></span></h2>
   <%= render '/shared/users/supervised' %>

  </div>  
</div>