<h1><%= _('Supervisors') %></h1>

<%= simple_nested_form_for  ([:admins, @user]) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
	
	<%= f.simple_fields_for :supervised_users do |su| %>
		<%= su.association :admin_user %>
		<%= su.input :deleted %>		
	<% end %>
	
	<p><%= f.link_to_add "Add Inheritor", :supervised_users %></p>
  <%= hidden_field_tag :page_type, 'supervisor' %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to _('Back'), admins_users_path %>
