<%= link_to '戻る', detail_consults_path(id: @specialist.id, specialized_field_id: @specialized_field.try(:id) || 0 ), {class: 'second'} %>
<div class="main_box2">
  <div class="main_box_in">
    <h1><%= _('Consultation Reservation') %>%></h1>
    <h2><%= _('Consultation Content')%></h2>
    <%= simple_form_for(@conversation, url: appointment_create_consults_path(id: @specialist.id, specialized_field_id: @specialized_field.try(:id) || 0, schedule_entity_id: @schedule_entity.id)) do |f| %>
      <%= f.error_notification %>
      <table class="user">
        <tr>
          <th><%= _('Consultation category')%></th>
          <td><%= @specialized_field.try(:name)%>に関する相談</td>
        </tr>
        <tr>
          <th><%= _('Specialist') %></th>
          <td><%= @specialist.name %></td>
        </tr>
        <tr>
          <th><%= _('Consultation Time')%></th>
          <td><%= l @schedule_entity.schedule_date, format: :long %> <%= l @schedule_entity.start_time, format: :hour_minute %> </td>
        </tr>
      </table>

      <table class="user">
        <tr>
          <th class="active"><%= _('Content of Consultation') %></th>
          <td>
             <%= f.input :remarks, label: false, placeholder: _('Please enter the consultation content') %>
          </td>
        </tr>
      </table>

      <div class="top_second">
        <%= f.hidden_field :sender_type, value: current_user.class %>
        <%= f.hidden_field :sender_id, value: current_user.id %>
        <%= f.hidden_field :recipient_type, value: @specialist.class %>
        <%= f.hidden_field :recipient_id, value: @specialist.id %>
        <%= f.hidden_field :specialized_field_id, value: @specialized_field.id %>
        <%= f.button :submit, _('Confirm reservation content'), :onclick => "return confirm('入力内容で予約します。よろしいでしょうか？')"  %>
      </div>
    <% end %>
  </div>
</div>