<div class="main_box2">
  <div class="main_box_in">
    <h1>専門家相談予約</h1>
    <h2>専門家の選択 <%=link_to '予約一落', reservations_consults_path %></h2>
   
    <label>相談内容の選択</label>
    <%= select_tag :field_select, options_for_select(SpecializedField.where(:deleted => false).order(:sort_no).map{|f|["#{f.name}に関する相談", f.id]}), {:prompt =>"相談内容を選んでください"}%>
    
      <div class="infinite-table">
        <table>
          <tbody>
            <%= render :partial => 'specialists', :object => @specialists if @specialists %>
          </tbody>
        </table>
        <p class="pagination">
          <%= link_to_next_page(@specialists, 'Next Page', :remote => true) if @specialists %>
        </p>
      </div>
  </div>
</div> 
<%= javascript_tag do %>
  $("select#field_select").change(function(){
     $.ajax({
       url: "/consults/search",
       type: "GET",
       data: {specialized_field_id: $(":selected").attr("value")},
       dataType: "html",
       success: function(data) {
         $('.infinite-table').html(data)
       },
       error: function(data) {
         alert("エラーが発生しました");
       }
    });
  });
<% end %>