<%= link_to _('Back'), consults_path, {class: 'second'} %>
<div class="main_box2">
  <div class="main_box_in">
    <h1><%= _('Specialist Profile') %></h1>
    <h2><%= _('Name') %></h2>
      <div class="stwo">
        <%= image_tag @specialist.image.url(:thumb)%>
      </div>
      <div class="stwo1">
        <h3><%= @specialist.specialist_profile.try(:name) + "（#{@specialist.specialist_profile.furigana}）"%></h3>
        <p><%= _('Enterprise') %>：<%=@specialist.specialist_profile.try(:enterprise)%>&nbsp;<%= link_to_if @specialist.specialist_profile.home_page_url, _("Website Page"), @specialist.specialist_profile.home_page_url, target: '_blank' %>
      </div>

      <h2><%= _('Specialized Field') %></h2>
      <p><%= @specialist.specialized_field_relations.map(&:specialized_field).map(&:name).join('、') unless @specialist.specialized_field_relations.blank? %></p>
      
      <h2><%= _('Introduction')%></h2>
      <p><%=@specialist.specialist_profile.try(:introduction)%></p>
      <% schedule_date_time = {} %>
      <% @specialist.schedules.joins(:schedule_entities).where(:schedule_type => 'Reservation', :start_date => Date.today..Date.today+7, :schedule_entities => {:editable => true}).map(&:schedule_entities).each{|entity| entity.each {|e| ((schedule_date_time[l(e.schedule_date,format: :short)] ||={})[e.start_time.strftime("%H:%M")] ||=[]) << e }} %>
      <h2><%= _('Select Reservation date and time')%></h2>
      <table class="sche">
        <thead>
          <tr>
            <th><%= _('Time') %></th>
            <% (Date.today..Date.today+7).each do |day| %>
            <td><%= l day, format: :short %><br>（<%= t('date.abbr_day_names')[day.wday] %>）</td>
            <% end %>
         </tr>
       </thead>
       <tbody>
         <% start_time = Date.today.to_datetime + 8.hour %>
         <% end_time = Date.today.to_datetime + 23.hour %>
         <% min = 30.0/(24*60) %>
         <% start_time.step(end_time, min) do |time| %>
         	 <% time = time.strftime("%H:%M") %>
           <tr>
             <th><%= time %></th>
             <% (Date.today..Date.today+7).each do |day| %>
               <% date_time = Time.parse("#{day} #{time}") %>
               <% day = l(day, format: :short) %>
               <td class="yes"><%= raw((date_time < Time.now()) ? '&#x00D7;' : schedule_date_time[day].blank? ? '&#x00D7;' : schedule_date_time[day][time].blank? ? '&#x00D7;' : (link_to '&#9678;'.html_safe, appointment_consults_path(id: @specialist.id, specialized_field_id: @specialized_field.try(:id) || 0, schedule_entity_id: schedule_date_time[day][time].first.id), class: 'yes')) %></td>
             <% end %>
           </tr>
         <% end %>
      </tobdy>
    </table>
  </div>  
</div>

