<%= link_to '戻る', '/study', {class: 'second'} %>
<h1 class="movieh1"><%= @course.name %></h1>
<!-- Visual　ここから -->
<div id="visual">
  <div id="visual_in">
    <%= image_tag(@course.attachment.image.url(:large)) if @course.attachment %>
  </div>
</div>
<!-- Visual　ここまで -->  

<div class="main_box3">
  <div class="main_box_in">
    <h2>講義内容</h2>
    <p><%= h nl2br(@course.summary) %></p>

    <h2>講師</h2>
    <p><%= @course.parent.name %></p>

    <h2>講義資料</h2>
    <p>レジュメ（PDF2ページ）</p>

    <h2>全講義パック（全<%= @course.tutorials.size %>件）</h2>
    <p>「<%= @course.name %> （全<%= @course.tutorials.size %>回）」が1か月間見放題になるお得なパックです。※「Mamoru」を退会するとパックは無効となりますのでご注意ください。</p>
    <p class="price">視聴料金:<%= number_to_currency @course.price %> <span class="pack_button"><a href="payment.html">購入</a></span></p>
    
    <h2>講義<span>全<%= @course.tutorials.size %>回</span></h2>
    <% @course.tutorials.each do |tutorial| %>
      <div class="three">
        <div class="youtube">
          <%= image_tag tutorial.attachment.video.url(:thumb)%>          
        </div>
        <div class="movie_title">
          <h3><a href="movie.html"><%= link_to tutorial.title.slice(0,20) + '・・・', tutorial_study_courses_path(:id => @course.id, :tutorial_id => tutorial.id) %></a></h3>
        </div>
        <div class="movie_title">
          <p>講義時間: <%= formatted_video_duration(tutorial.attachment.video_duration) %></p>
          <p><%= tutorial.summary.slice(0,80) + '・・・' %></p>
        </div>
      </div>
    <% end %>  
  </div>
</div>

<%= link_to 'Back', '/study' %>
