<div class="main_box2">
  <div class="main_box_in">
    <h2><%= _('User Registration')%></h2>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <table class="profile">
        <tr>
          <th><%= f.label :email %></th>
          <td><%= f.email_field :email, autofocus: true %></td>
        </tr>

        <tr>
          <th><%= f.label :password %></th>
          <td>
            <% if @minimum_password_length %>
              <em>(<%= _('%s characters minimum')%[@minimum_password_length]%>)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </td>  
        </tr>
        <tr>
          <th><%= f.label :password_confirmation %></th>
          <td><%= f.password_field :password_confirmation, autocomplete: "off" %></td>
        </tr>
      </table>
      <div class="top_second">
        <%= f.submit _("Submit") %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>    