<% if current_admin_user %>
  <div class="page-header">
    <h1>Admin account</h1>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
      <ul>
        <li><strong><%= link_to "Posts", admins_posts_path %></strong></li>
        <li><strong><%= link_to "Users List", admins_users_path %></strong></li>
        <li><strong><%= link_to "Specialists List", admins_specialists_path %></strong></li>
        <li><strong><%= link_to "Study Courses", admins_study_courses_path %></strong></li>
        <li><strong><%= link_to 'Change Password', edit_admin_user_registration_path %></strong></li>
      </ul>
    </div>
  </div>
<% else %>
  <%= render 'welcome' %>
<% end %>





<%= month_calendar do |date| %>
  <%= date %>
	<%= link_to "Schedule", "##{date}", class: "fancybox" %>
	<div style="display:none;">
  	<div id="<%= date %>">
  		<%= simple_form_for([:admins, Schedule.new()]) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.hidden_field :start_date, value: date %>
          <%= f.hidden_field :parent_type, value: current_admin_user.class %>
          <%= f.hidden_field :parent_id, value: current_admin_user.id %><br>
    
          <%= f.simple_fields_for :schedule_entities do |a| %>
            <%=a.time :start_at%>
          <% end %>
        </div>

        <div class="form-actions">
          <%= f.button :submit %>
        </div>
      <% end %>
 		</div>
	</div>  
<% end %>

