<table class="history">
  <thead>
    <tr>
      <th><%= _('Name') %></th>
      <th><%= _('Gender') %></th>
      <th><%= _('Relationship') %></th>
    </tr>    
  </thead>
  <tbody>
    <% @user.inheritor_informations.each do |inheritor|%>
      <tr>
        <td><%= inheritor.try(:name)%></td>
        <td><%= inheritor.try(:gender)%></td>
        <td><%= inheritor.try(:relationship)%></td>
      </tr>
    <% end %>
  </tbody>
</table>  