  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
	
	<%= f.simple_fields_for :inheritor_informations do |i| %>
		<%= render '/shared/users/inheritor_information_fields', :i => i, :f => f %>
		<%= i.link_to_remove _("Delete"), {class: 'remove'} %>
	<% end %>
	<br>
  <p><%= f.link_to_add _("Add"), :inheritor_informations, {class: 'add'} %></p>
  <%= hidden_field_tag :page_type, 'inheritor' %>
  <div class="top_second">
    <%= f.submit %>
  </div>