<%= simple_form_for([:admins, @study_course, @tutorial]) do |f| %>
  <%= f.error_notification %>

  <table class="profile user">
    <tr>
      <th><%= f.label :title %></th>
      <td><%= f.input :title, label: false %></td>
    </tr>
  
    <tr>
      <th><%= f.label :summary %></th>
      <td><%= f.input :summary, label: false %></td>
    </tr>
    
    <tr>
      <th><%= f.label :is_free %></th>
      <td><%= f.input :is_free %></td>
    </tr>
    
    <%= f.simple_fields_for :attachment do |a| %>
      <tr>
        <th><%= f.label :upload %></th>
        <td>
          <%= a.file_field :upload %>
          <%= (link_to @tutorial.attachment.try(:upload_file_name), @tutorial.attachment.try(:upload).url, target: '_blank') if @tutorial.attachment && @tutorial.attachment.upload.exists? %><br>
        </td>      
      </tr>  
      <tr>
        <th><%= f.label :video %></th>
        <td>
          <%= a.file_field :video %>
          <%= video_tag  @tutorial.attachment.video.url(:medium), controls: true, style: "max-width: 50%;" if @tutorial.attachment && @tutorial.attachment.video.exists? %>
        </td>
      </tr>    
      <%= a.hidden_field :parent_type, value: @study_course.class %>
      <%= a.hidden_field :parent_id, value: @study_course.id %><br>
    <% end %>
  </table>

  <div class="top_second">
    <%= f.submit %>
  </div>
<% end %>
