<%= simple_form_for([:admins, @tutorial]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :summary %>
    <%= f.input :is_free %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
