<h1><%= _('Listing Tutorials') %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= _('Title') %></th>
      <th><%= _('Summary') %></th>
      <th><%= _('Is free') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tutorials.each do |tutorial| %>
      <tr>
        <td><%= tutorial.title %></td>
        <td><%= tutorial.summary %></td>
        <td><%= tutorial.is_free %></td>
        <td><%= link_to _('Show'), [:admins, tutorial] %></td>
        <td><%= link_to _('Edit'), edit_admins_tutorial_path(tutorial) %></td>
        <td><%= link_to _('Destroy'), [:admins, tutorial], method: :delete, data: { confirm: _('Are you sure?') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to _('New Tutorial'), new_admins_tutorial_path %>
