<% @posts.each do |post| %>
   
  <div class="log">
    <div class="editor">
      <div class="editor_img"><%= icon_post_type post.post_type_id %></div>
      <div class="editor_txt"><span><%= l post.created_at, format: :long %></span> 
      <%= link_to 'Edit', {:controller => 'posts', :action => :edit, :id => post} %>
        <%= link_to 'Destroy', {:controller => 'posts', :action => :destroy, :id => post}, method: :delete, data: { confirm: 'Are you sure?' } %></div>
    </div>
    <div class="logarea">
      <%= h nl2br(post.try(:message)) %><br>
      <%= render_gallery_for post.attachments.all %>
    </div>
  </div>
<% end %>