<%= link_to '戻る', profiles_path, {class: 'second'} %>
<div class="main_box2">
  <div class="main_box_in">
    <h1>登録情報変更</h1>
    <h2>パスワード変更</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <table class="profile">
        <tr>
          <th><%= f.label :email %></th>
          <td>
            <%= f.email_field :email, autofocus: true %>
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
             <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>
          </td>
        </tr>
       
        <tr>
          <th><%= f.label :current_password %> </th>
          <td><%= f.password_field :current_password, autocomplete: "off" %><i>(we need your current password to confirm your changes)</i><br /></td>
        </tr>
      
        <tr>
          <th><%= f.label :password %></th> 
          <td>
            <%= f.password_field :password, autocomplete: "off" %>
            <i>(leave blank if you don't want to change it)</i><br />
            <% if @minimum_password_length %>
              <br /><em><%= @minimum_password_length %> characters minimum</em>
            <% end %>
          </td>
        </tr>
        <tr>
          <th><%= f.label :password_confirmation %></th>
          <td><%= f.password_field :password_confirmation, autocomplete: "off" %></td>
        </tr>
      </table>
      <div class="top_second">
        <%= f.submit "更新する" %>
      </div>
    <% end %>
    <!--
    <h2>アカウント解約</h2>
    <p><%= button_to "解約する", registration_path(resource_name), data: { confirm: "アカウント削除します。よろしいでしょうか？" }, method: :delete %></p>
    -->
  </div>
</div>