<div class="main_box2">
  <div class="main_box_in">
    <h2>新規会員登録</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <table class="profile">
        <tr>
          <th><%= f.label :email %></th>
          <td><%= f.email_field :email, autofocus: true %></td>
        </tr>

        <tr>
          <th><%= f.label :password %></th>
          <td>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </td>  
        </tr>
        <tr>
          <th><%= f.label :password_confirmation %></th>
          <td><%= f.password_field :password_confirmation, autocomplete: "off" %></td>
        </tr>
      </table>
      <div class="top_second">
        <%= f.submit "登録する" %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>    